/*
Color Palette:

#F8F8FF - GhostWhite
#2F4F4F - DarkSlateGray
#D3D3D3 - LightGray
#A9A9A9 - DarkGray
#778899 - LightSlateGray

font-family: 'Courier Prime', monospace;

Resources:

 - favicon:
https://stackoverflow.com/questions/21938028/how-can-i-get-a-favicon-to-show-up-in-my-django-app

 - footer layout:
https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
https://stackoverflow.com/questions/643879/css-to-make-html-page-footer-stay-at-bottom-of-the-page-with-a-minimum-height-b
https://stackoverflow.com/questions/42294/how-do-you-get-the-footer-to-stay-at-the-bottom-of-a-web-page


*/
* {
    margin: 0;
}
html, body {
    height: 100%;
    background-color: #D3D3D3;
    font-family: 'Courier Prime', monospace;  
}
h2 {
  padding: 5px;
}
table, th, tr, td {
  text-align: center;
  border-style: inset;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}

td {
  text-overflow: ellipsis;
  overflow: scroll;
  white-space: nowrap;
}

.narrow {
  width: 100px;
}

.wide {
  width: 350px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
    height: 200px; /* .push must be the same height as .footer */
}
.footer {
  color: #F8F8FF;
  font-size: 12px;
  background-color: #2F4F4F;
  padding: 10px;
  }

.footer .github-mark {
  float: left;
}

.footer .author {
  float: left;
  margin: 10px;
}
.footer .about a {
  float: right;
  margin: 10px;
  color: #F8F8FF;
  background: #2F4F4F;
  text-decoration: none;  
}
.footer .about a {
  background: rgba(47, 79, 79, 60%);
}
.headline {
  color: #F8F8FF;
  background-color: #2F4F4F;
  padding: 30px;
  margin: -10px;
  font-size: 40px;
}
.subheader-links {
  color: #F8F8FF;
  background: #778899;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.subheader-links a {
  color: #F8F8FF;
  background: #2F4F4F;
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
  text-decoration: none;
}
.subheader-links a:hover {
  background: rgba(47, 79, 79, 60%);
}
.login {
  float: right;
  margin-right: 5px;
}
