/*
Color Palette:

#F8F8FF - GhostWhite
#2F4F4F - DarkSlateGray
#D3D3D3 - LightGray
#A9A9A9 - DarkGray
#778899 - LightSlateGray

https://stackoverflow.com/questions/18742261/django-what-is-the-best-way-to-format-forms
*/
h2 {
  padding: 5px;
}
label {
  width: 220px;
  display: inline-block;
  float: left;
  clear: left;
  text-align: left;
  padding: 3px;
}
select, input {
  display: inline-block;
  float: left;
  padding: 3px;
  width: 250px;
}
button {
  clear: left;
  display: inline;
  padding: 3px 4px;
  margin-left: 10px;
}
.form-wrapper {
  padding: 12px;
}
.fieldWrapper {
  margin: 3px;
  overflow: auto; /* this prevents the div from collapsing */
}
.container {
  padding: 8px;
}
.btns {
  font-size: 12;
  font-family: 'Courier Prime', monospace;
  color: #F8F8FF;
  background: #2F4F4F;
  padding: 3px 4px;
  margin: 0;
  border-radius: 4px;
  text-decoration: none;
}
.btns:hover {
  background: rgba(47, 79, 79, 60%);
}
.save-goback-btns {
  display: inline;  
}



/*
#myTable tr td:first-child {
  width: 100px;
}
#myTable tr td:nth-child(2) {
  width: 200px;
}
#myTable tr td:last-child {
  width: 300px;
}

.subheader-links {
  color: #F8F8FF;
  background: #778899;
  padding: 10px;
  margin-left: -10px;
  margin-right: -10px;
}
.subheader-links a {
  color: #F8F8FF;
  background: #2F4F4F;
  padding: 5px;
  margin: 2px;
  border-radius: 4px;
  text-decoration: none;
}
.subheader-links a:hover {
  background: rgba(47, 79, 79, 60%);
}
*/