/*
Color Palette:

#F8F8FF - GhostWhite
#2F4F4F - DarkSlateGray
#D3D3D3 - LightGray
#A9A9A9 - DarkGray
#778899 - LightSlateGray


*/
p {
  color: #2F4F4F;
  font-size: 20px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}
.container {
  padding: 5px 370px;
  text-align: center;
}

.container a {
  color: #F8F8FF;
  background: #2F4F4F;
  width: 500px;
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
  font-size: 30px;
  text-decoration: none;
  display: block;
}
.container a:hover {
  background: rgba(47, 79, 79, 60%);
}