/*
Color Palette:

#F8F8FF - GhostWhite
#2F4F4F - DarkSlateGray
#D3D3D3 - LightGray
#A9A9A9 - DarkGray
#778899 - LightSlateGray

*/

/* Navigation bar
------------------------------------*/
h2 {
  padding: 5px;
}
nav ul {
  display: flex;
  margin: 0 -10px;
  list-style-type: none;
  padding: 0;
}
nav li {
    margin: 0 10px;
}
.push-right {
  margin-left: auto;
}
.dropdown .dropbtn {   
  border: none;
  outline: none;
  margin: 0;
  text-decoration: none;
  padding: 4px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #778899;
  min-width: 77px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 6px 4px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropbtn {
  background-color: #778899;
  color: #F8F8FF;
}

.dropdown-content a:hover {
  background-color: #2F4F4F;
  color: #F8F8FF;
}
.dropdown:hover .dropdown-content {
  display: block;
}
th, td {
  padding: 5px;
}
/*label {
  width: 80px;
  display: inline-block;
  float: left;
  clear: left;
  text-align: left;
  padding-top: 7px;
  font-weight: bold;
}
select, input {
  display: inline-block;
  float: left;
  padding: 3px;
}*/
button {
  clear: left;
  display: block;
  padding: 2px;
  margin-left: 10px;
}
.form-wrapper {
  padding: 12px;
}
.fieldWrapper {
  margin: 3px;
  overflow: auto; /* this prevents the div from collapsing */
}
.container {
  padding: 8px;
}
.btns {
  font-size: 12;
  font-family: 'Courier Prime', monospace;
  color: #F8F8FF;
  background: #2F4F4F;
  padding: 1px 4px;
  margin: 0;
  border-radius: 4px;
  text-decoration: none;
}
.btns:hover {
  background: rgba(47, 79, 79, 60%);
}

.btn {
  margin-top: 8px;
}

#primers-table {
  table-layout: auto;
  width: 100%;
}
ul {
  margin: 5px;
  padding-left: 10px;
}

ul.pagination li {
  display: inline;
  text-decoration: none;
  font-weight: bolder;
}

/* zebra striping */
/*
tbody tr:nth-child(odd) {
  background-color: #778899;
}
*/
#stripes tr:nth-child(even) {
  background-color: #778899;
}

/*
table {
  background-color: #D3D3D3;
}*/
/*tbody tr {
  background-image: url(noise.png);
}
*/
