<!DOCTYPE html>
<html lang="eng-us">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% if title %}
        <title>Lab Inventory - {{ title }}</title>
    {% else %}
        <title>Lab Inventory</title>
    {% endif %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap" rel="stylesheet"> 
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lab_inventory/base-styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.png' %}"/>
    
</head>
<body>
  <div class="content-wrap">
    <h1 class="headline">Lab Inventory</h1>
    <div class="subheader-links">
      <a href="{% url 'lab_inventory:index' %}">Home</a>
      <a href="{% url 'lab_inventory:tissues' %}">Tissue Samples</a>
      <a href="{% url 'lab_inventory:dna' %}">DNA</a>
      <a href="{% url 'lab_inventory:supplies' %}">Lab Supplies</a>
      <a href="{% url 'lab_inventory:primers' %}">Primers</a>
      <span class="login">
      {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}</p>
      {% else %}
        <a href="{% url 'users:login' %}">Log in</a>
      {% endif %}
      </span>
    </div>
    
  {% block content %}{% endblock content %}
  
    <div class="push"></div>
  </div>

  <footer class="footer">
    <span class="github-mark"><a href="https://github.com/alinasansevich/lab-inventory">
      {% load static %}
      <img src="{% static 'lab_inventory/GitHub-Mark-Light-32px.png' %}" alt="GitHub Mark Light"></a>
    </span>
    <span class="author">2021 | Alina Sansevich</span>
    <span class="about">
      <a href="{% url 'lab_inventory:about' %}">About this app</a></span>
  </footer>
</body>
</html> 