<!DOCTYPE html>
<html lang="eng-us">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% if title %}
        <title>Lab Inventory - {{ title }}</title>
    {% else %}
        <title>Lab Inventory</title>
    {% endif %}
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'lab_inventory/base-styles.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon/favicon.png' %}"/>
    
</head>
<body>

    <h1 class="headline">Lab Inventory</h1>
    <div class="subheader-links">
        <a href="{% url 'lab_inventory:index' %}">Home</a>
        <a href="{% url 'lab_inventory:tissues' %}">Tissue Samples</a>
        <a href="{% url 'lab_inventory:dna' %}">DNA</a>
        <a href="{% url 'lab_inventory:supplies' %}">Lab Supplies</a>
        <a href="{% url 'lab_inventory:primers' %}">Primers</a>        
    </div>
    
    {% block content %}{% endblock content %}
</body>
</html> 