{% extends "lab_inventory/base.html" %}

{% block content %}
    
    <h2>DNA Samples</h2>

    <table>
      <tr>
        <th>Organism / Tissue</th>
        <th>Extraction Date</th>
        <th>Freezer / Shelf</th>
        <th>Box / Position</th>
        <th>Edit</th>
      </tr>
      {% for item in dna %}
      <tr>
        <td>{{ item.tissue_info }}</td>
        <td>{{ item.extraction_date }}</td>
        <td>{{ item.stored_freezer }}</td>
        <td>{{ item.stored_box }}</td>
        <td><a href="{% url 'lab_inventory:edit_dna' item.id %}">Edit</a></td>
      </tr>
      {% endfor %}
    </table>
    
    <a href="{% url 'lab_inventory:new_dna' %}">Add new DNA sample</a>
        
{% endblock content %}