{% extends "lab_inventory/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lab_inventory/forms-styles.css' %}">

  <div class="container"> 
    <h3>Edit supplies entry:</h3>
      <fieldset>
        <form action="{% url 'lab_inventory:edit_supplies' entry.id %}" method='post'>
          {% csrf_token %}
          {{ form.as_p }} <!-- 'as_p' modifier: all form elements will be rendered in paragraph format  -->
          <div class="btn">
            <button name="submit">Save Changes</button>
            <a class="btns" href="{% url 'lab_inventory:supplies' %}">Go back</a>
          </div>
        </form>
      </fieldset>
  </div>
        
{% endblock content %}