{% extends "lab_inventory/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lab_inventory/forms-styles.css' %}">

  <div class="container">

    <h2>Edit DNA entry:</h3>
      <fieldset>
        <p>Add a new DNA sample below. Enter data in the following format:<br>
         "Organism / Tissue"   |   "2021-01-01"
        </p>
        <form action="{% url 'lab_inventory:edit_dna' entry.id %}" method="post">
          {% csrf_token %}
          <div class="form-wrapper">
            {{ form.non_field_errors }}
            <div class="fieldWrapper">
                {{ form.tissue_info.errors }}
                <label for="id_tissue_info">Organism / Tissue:</label>
                {{ form.tissue_info }}
            </div>
            <div class="fieldWrapper">
                {{ form.extraction_date.errors }}
                <label for="id_extraction_date">Extraction Date:</label>
                {{ form.extraction_date }}
            </div>
            <div class="fieldWrapper">
                {{ form.stored_freezer.errors }}
                <label for="id_stored_freezer">Freezer / Shelf:</label>
                {{ form.stored_freezer }}
            </div>
            <div class="fieldWrapper">
                {{ form.stored_box.errors }}
                <label for="id_stored_box">Box / Position:</label>
                {{ form.stored_box }}
            </div>  
          </div>
          <div class="save-goback-btns">
            <button name="submit">Save Changes</button>
            <a class="btns" href="{% url 'lab_inventory:dna' %}">Go back</a>          
          </div>
        </form>
      </fieldset>
  </div>
        
{% endblock content %}


