{% extends "lab_inventory/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lab_inventory/forms-styles.css' %}">

  <div class="container"> 
    <h2>Select filter criteria:</h2>
    <fieldset>
      <legend>Filter by:</legend>
      <form id="radiobtn" action="" method="post">
        {% csrf_token %}
        {{ radiobtn.CHOOSE_FIELD }}
      </form>    
    </fieldset>
    <fieldset>
      <h4>Notes:</h4>
      <p>Enter dates in the following format: "2021-01-01"</p>
      <p></p>
      <p></p>
      <p></p>
    </fieldset>
    <fieldset>
      <legend>Enter search values:</legend>
      <form action="{% url 'lab_inventory:primers' %}" method="post"> <!-- Create e new html for search results??? -->
        {% csrf_token %}
        <div class="form-wrapper">
          {{ form.non_field_errors }}
          <div class="fieldWrapper">
              {{ form.primer_name.errors }}
              <label for="id_primer_name">Primer Name:</label>
              {{ form.primer_name }}
          </div>
          <div class="fieldWrapper">
              {{ form.purchase_order.errors }}
              <label for="id_purchase_order">Purchase Order:</label>
              {{ form.purchase_order }}
          </div>
          <div class="fieldWrapper">
              {{ form.date_received.errors }}
              <label for="id_date_received">Date Received:</label>
              {{ form.date_received }}
          </div>
          <div class="fieldWrapper">
              {{ form.date_opened.errors }}
              <label for="id_date_opened">Date Opened:</label>
              {{ form.date_opened }}
          </div>
          <div class="fieldWrapper">
              {{ form.date_discarded.errors }}
              <label for="id_date_discarded">Date Discarded:</label>
              {{ form.date_discarded }}
          </div>
        </div>
        <div class="save-goback-btns">
          <button name="submit">Search</button>
          <a class="btns" href="{% url 'lab_inventory:primers' %}">Go back</a>          
        </div>
      </form>
    </fieldset>
  </div>
        
{% endblock content %}