{% extends "lab_inventory/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lab_inventory/index-styles.css' %}">
  
  <p>Click below to find data about...</p>
  
  <div class="container">  
    
    <a href="{% url 'lab_inventory:tissues' %}">Stored tissues</a>
    <a href="{% url 'lab_inventory:dna' %}">DNA samples</a>
    <a href="{% url 'lab_inventory:supplies' %}">Lab supplies</a>
    <a href="{% url 'lab_inventory:primers' %}">PCR primers</a>
    
  </div>
  
{% endblock content %}