{% extends "lab_inventory/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lab_inventory/forms-styles.css' %}">

  <div class="container"> 
    <h3>Add a new tissue sample:</h3>
      <fieldset>
        <p>Add a new tissue sample below. Enter data in the following format:<br>
         "Organism / Tissue"   |   "2021-01-01"
        </p>
        <form action="{% url 'lab_inventory:new_tissue' %}" method='post'>
          {% csrf_token %}
          {{ form.as_p }} <!-- 'as_p' modifier: all form elements will be rendered in paragraph format  -->
          <button name="submit">Add New Tissue</button>
        </form>
      </fieldset>
  </div>
        
{% endblock content %}