{% extends "lab_inventory/base.html" %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'lab_inventory/tables-styles.css' %}">

  <div class="container">
    <nav>
      <ul>
        <li><h2>PCR Primers</h2></li>
        <li class="push-right dropdown">
          <a href="javascript:void(0)" class="dropbtn btns">Options</a>
          <div class="dropdown-content">
            <a href="{% url 'lab_inventory:choose_filter_primers' %}">Filter</a>
            <a href="#">Sort</a>
          </div>
        </li>        
      </ul>
    </nav>    
    <table id="primers-table">
      <tr>
        <th>Primer Name</th>
        <th>Primer Sequence</th>
        <th>Purchase Order</th>
        <th>Date Received</th>
        <th>Date Opened</th>
        <th>Date Discarded</th>
        <th>Freezer / Shelf</th>
        <th>Box / Position</th>
        <th>Edit</th>
      </tr>
      {% for item in primers %}
      <tbody>
        <tr>
          <td>{{ item.primer_name }}</td>
          <td>{{ item.primer_seq }}</td>
          <td>{{ item.purchase_order }}</td>
          <td>{{ item.date_received }}</td>
          <td>{{ item.date_opened }}</td>
          <td>{{ item.date_discarded }}</td>
          <td>{{ item.stored_freezer }}</td>
          <td>{{ item.stored_box }}</td>
          <td><a class="btns" href="{% url 'lab_inventory:edit_primer' item.id %}">Edit</a></td>
        </tr>      
      </body>

      {% endfor %}
    </table>
      {% if primers.has_other_pages %}
        <ul class="pagination">
          {% if primers.has_previous %}
            <li><a href="?page={{ primers.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="disabled"><span>&laquo;</span></li>
          {% endif %}
          {% for i in primers.paginator.page_range %}
            {% if primers.number == i %}
              <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
            {% else %}
              <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if primers.has_next %}
            <li><a href="?page={{ primers.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="disabled"><span>&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
    <div class="btn">
      <a class="btns" href="{% url 'lab_inventory:new_primer' %}">Add a new PCR primer</a>    
    </div>
  </div>
        
{% endblock content %}