{% extends "lab_inventory/base.html" %}

{% block content %}

    <table>
      <tr>
        <th>product_name</th>
        <th>purchase_order</th>
        <th>date_received</th>
        <th>date_opened</th>
        <th>stored_freezer</th>
      </tr>
      {% for item in supplies %}
      <tr>
        <td>{{ item.product_name }}</td>
        <td>{{ item.purchase_order }}</td>
        <td>{{ item.date_received }}</td>
        <td>{{ item.date_opened }}</td>
        <td>{{ item.stored_freezer }}</td>
      </tr>
      {% endfor %}
    </table>
        
{% endblock content %}