{% extends "lab_inventory/base.html" %}

{% block content %}

    <table>
    <col span="1" class="wide">
      <tr>
        <th>Product Name</th>
        <th>Purchase Order</th>
        <th>Date Received</th>
        <th>Date Opened</th>
        <th>Freezer / Shelf</th>
      </tr>
      {% for item in supplies %}
      <tr>
        <td width="100%">{{ item.product_name }}</td>
        <td>{{ item.purchase_order }}</td>
        <td>{{ item.date_received }}</td>
        <td>{{ item.date_opened }}</td>
        <td>{{ item.stored_freezer }}</td>
      </tr>
      {% endfor %}
    </table>
    
    <a href="{% url 'lab_inventory:new_supplies' %}">Add new lab supplies</a>
        
{% endblock content %}